%h2
  = t('ranks.rank_20.title')

- if !ranking.nil?
  .list-group
    - ranking.each_with_index do |ranked_user, index|
      %a.list-group-item
        .row
          .col-md-3
            - user = User.find(ranked_user['external_id'])
            = image_tag(user.facebook_avatar, size: "40x40", alt: user.name)
          .col-md-9
            = "#{index + 1}. #{user.name}"
            %br
            %span.badge
              = t('ranks.points', points: ranked_user['points'])
            %span.badge_green
              = t('ranks.badges', badges: ranked_user['badges'])
